.searchbar {
  height: 50px;
  min-height: 50px;
  width: 60%;

  background-color: #484848;
  color: #fff;

  border: none;
  border-radius: 10px;

  margin: 20px 0px 0px 0px;

  text-align: center;
  font-size: clamp(20px, 2vw, 24px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  z-index: 50;

  &::placeholder {
    color: #737373;
  }

  &.focused {
    z-index: 250;
  }
}
