.sidebar__button {
  height: 50px;
  width: 50px;
  background-color: rgb(28, 28, 28);

  position: absolute;
  top: 20px;
  left: 15px;

  cursor: pointer;

  display: none;
  z-index: 100;
}

@media (max-width: 750px) {
  .sidebar__button {
    display: block;
  }
}
