.following__team {
  height: 50px;
  min-height: 50px;
  width: 300px;

  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  color: #fff;
  background-color: #1f1f1f;

  overflow: hidden;

  transition: width 0.3s ease-in-out;

  margin-top: 10px;

  padding-left: 30px;

  border-radius: 10px;

  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;

  &::before {
    content: "";
    position: absolute;
    inset: 0; // top: 0; right: 0; bottom: 0; left: 0;

    background: var(--team-logo) no-repeat center;
    background-size: 55%;

    opacity: 0.5;

    transition: opacity 0.3s ease-in-out;

    z-index: 10;
  }

  &__name {
    height: 100%;
    width: 200px;
    min-width: 0px;

    display: flex;
    align-items: center;
    flex-shrink: 1;

    opacity: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: all 0.3s ease;

    z-index: 15;
  }

  &__unfollow {
    height: 100%;
    width: 50px;

    background-color: white;

    opacity: 0;
    transition: opacity 0.3s ease 0.3s;

    .following__team:hover & {
      opacity: 1;

      z-index: 20;
    }
  }

  &.only-logo {
    width: 60px;

    &::before {
      opacity: 1;
    }

    .following__team {
      &__name,
      &__unfollow {
        opacity: 0;
      }
    }
  }
}
