.schedule__container {
  height: 100dvh;
  flex: 1;
  min-width: 400px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 850px) {
    margin-left: 100px;
    width: 100%;
  }
}
