.match__date {
  height: auto;
  width: 70%;

  color: #fff;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-size: clamp(16px, 2vw, 32px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;

  box-sizing: border-box;

  padding: 0px 0px 20px 30px;
  margin: 10px;

  transition: width 0.3s ease-in-out;

  &.live {
    color: #ff0404;
  }

  .circle {
    height: clamp(10px, 2vw, 15px);
    width: clamp(10px, 2vw, 15px);

    background-color: #ff0404;

    border-radius: 50%;

    margin-right: 10px;
  }
}

@media (max-width: 850px) {
  .match__date {
    width: 90%;
  }
}
