.search__results {
  height: auto;
  max-height: 700px;
  width: 50%;

  background-color: #323232;

  position: absolute;
  top: 100px;

  display: flex;
  flex-direction: column;

  overflow-y: auto;

  transition: width 0.3s ease-in-out;

  z-index: 250;

  &.hide {
    display: none;
  }

  @media (max-width: 800px) {
    width: 90%;
  }

  .team_underline {
    height: 3px;
    width: 90%;

    background-color: #6c6c6c;

    display: block;

    margin: 0 auto;
  }

  // Hide underline for last element
  div:last-child .team_underline {
    display: none;
  }
}
